#gg-player * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Root container */
#gg-player {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

/* Video elements (A/B crossfade setup) */
#gg-player video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 800ms;
}

/* Initial opacity states */
#vidA {
  opacity: 1;
}
#vidB {
  opacity: 0;
}

.colorgrade-normal {
  z-index: 4;
  background: radial-gradient(
    circle at center,
    rgba(52, 75, 93, 0.2) 33%,
    rgba(52, 75, 93, 0.5) 100%
  );
  position: absolute;
  inset: 0%;
  pointer-events: none;
}
.colorgrade-overlay {
  z-index: 3;
  background: radial-gradient(
    circle at center,
    rgba(52, 75, 93, 0.5) 0%,
    rgba(52, 75, 93, 1) 100%
  );
  position: absolute;
  inset: 0%;
  pointer-events: none;
  mix-blend-mode: overlay;
}

/* Credits overlay */
.credits {
  width: min-content;
}
