.teamstat_kreis {
  background: linear-gradient(
      90deg,
      rgba(139, 200, 255, 0.4) 0%,
      rgba(254, 148, 238, 0.4) 150%
    ),
    #151515;
}
.teamstat_primary:nth-child(2) {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.teamstat_primary:nth-child(4) {
  border-bottom-right-radius: 16px;
}

.hstat_gradient:before {
  content: "";
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: calc((940px - 72px) / 2);
  height: 100%;
  position: absolute;
  z-index: 0;
  background: linear-gradient(90deg, #344b5d 0%, #6196c2 75%, #8bc8ff 100%);
  background: linear-gradient(
    90deg,
    var(--blau--dunkel) 0%,
    var(--blau--hell) 75%,
    var(--violett--highlight) 100%
  );
  box-shadow: 3px 3px 0 0 var(--blau--dunkel);
  border-radius: 999px;
}
.hstat div {
  position: relative;
  z-index: 1;
}
.hstat .hstat_gradient {
  position: absolute;
  z-index: 0;
}

@media screen and (min-width: 992px) {
  .kartenstat_bar {
    object-fit: cover;

    /* Verlaufsmaske wird auf die oberen 10% angewendet */
    mask-image: linear-gradient(black 96%, transparent 96%),
      url("https://cdn.prod.website-files.com/66d5abacd1e75804e6fc3f44/6703cf2dff9b2f415ed6da1c_kartenbar_mask-bottom.svg");
    -webkit-mask-image: linear-gradient(black 96%, transparent 96%),
      url("https://cdn.prod.website-files.com/66d5abacd1e75804e6fc3f44/6703cf2dff9b2f415ed6da1c_kartenbar_mask-bottom.svg");

    /* Die Größe der Masken wird für die oberen und unteren Bereiche angepasst */
    mask-size: 100% auto, auto auto;
    -webkit-mask-size: 100% auto, auto auto;

    /* Maskenpositionen für oben und unten */
    mask-position: bottom, bottom;
    -webkit-mask-position: bottom, bottom;

    /* Keine Wiederholung der Masken */
    mask-repeat: no-repeat, repeat-x;
    -webkit-mask-repeat: no-repeat, repeat-x;

    /* Beide Masken überlagern sich */
    mask-composite: add;
    -webkit-mask-composite: add;
  }
}

.teamstat_player-mask {
  mask-image: linear-gradient(
    110deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0.33) 100%
  );
  -webkit-mask-image: linear-gradient(
    110deg,
    rgba(0, 0, 0, 1) 33%,
    rgba(0, 0, 0, 0.33) 100%
  );
}

@media screen and (max-width: 991px) {
  .teamstat_kreis-mask .teamstat_medaille {
    width: 34px;
    height: 34px;
  }
  .teamstat_player > .teamstat_medaille {
    width: 36px;
  }
}
